/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
/* Navbar */
.navbar { 
    background-color: #f2f700 !important;
    padding: 15px;
}
.navbar-brand {
    font-size: 1.5rem !important;  
    font-weight: bold; 
    color: #fdfdf9 ;
}
.navbar-nav .nav-link {
    color: #f8f9fa !important;
}
.navbar-toggler {
    border: none;
}
.navbar-nav .nav-link:hover {
    color: #ffa007 !important;
}
/* Header */
header {
    background: linear-gradient(to right, #000000, #000000);
    color: rgb(241, 241, 241);
    text-align: center;
    padding: 60px 20px;
}
header h1 {
    font-size: 2.5rem;
    font-weight: bold;
}
/* Main */
main {
    padding: 40px 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    justify-items: center;
}
.product {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}
.product:hover {
    transform: scale(1.05);
}
.product img {
    width: 100%;
    border-radius: 8px;
}
.product h3 {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #333;
}
/* Footer */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.container {
    flex: 1; 
}
footer {
    width: 100%;
    background-color: #fffdf3;
    padding: 30px;
}
.info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 30px;
    padding: 30px;
    text-align: left;
}
.info-item {
    padding: 20px;
    border-radius: 8px;
}
.info-item h4 {
    color: #8a5c2b;
    margin-bottom: 15px;
}
.info-item ul {
    list-style: none;
    padding: 0;
}
.info-item li {
    margin-bottom: 8px;
}
.info-item a {
    text-decoration: none;
    color: #7a4a1b;
    font-weight: 600;
}
.info-item a:hover {
    color: #c98a40;
}
@media screen and (max-width: 350px) {
    .info-grid {
        grid-template-columns: 1fr;  
    }
}