body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
/* Navbar */
.navbar { 
    background-color: #f2f700 !important;
    padding: 15px;
}
.navbar-brand {
    font-size: 1.5rem !important;  
    font-weight: bold; 
    color: #fdfdf9 ;
}
.navbar-nav .nav-link {
    color: #f8f9fa !important;
}
.navbar-toggler {
    border: none;
}
.navbar-nav .nav-link:hover {
    color: #ffa007 !important;
}