.body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #fffaf0;
    color: #5a3e0b;
}
/* !HEADER */
.header {
    background-color: #d4a373;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.navbar {
    background-color: #f2f700 !important;
    padding: 15px;
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f8f9fa !important;
}
.navbar-nav .nav-link {
    color: #f8f9fa !important;
}
.navbar-toggler {
    border: none;
}
.navbar-nav .nav-link:hover {
    color: #f39c12 !important;
}
/* ?FOOTER */
.info-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;
    padding: 30px;
    background-color: #fffdf3; 
    text-align: left;
}
.info-item {
    padding: 20px;
    border-radius: 8px;
}
.info-item h4 {
    color: #8a5c2b;
    margin-bottom: 15px;
}
.info-item ul {
    list-style: none;
    padding: 0;
}
.info-item li {
    margin-bottom: 8px;
}
.info-item a {
    text-decoration: none;
    color: #7a4a1b;
    font-weight: 600;
}
.info-item a:hover {
    color: #c98a40; 
}
@media screen and (max-width: 768px) {
    .info-grid {
        grid-template-columns: 1fr; 
    }
}